<!DOCTYPE html>
<html lang="en">

  <head>

  	<title>Common Data Format - </title>
    <link rel="stylesheet" href="/css/form-basic.css">
    <link rel="stylesheet" href="/css/default.css">
	<link rel="stylesheet" href="/css/jquery-ui-1.11.4.min.css">
    <meta charset="utf-8">
	
	<script type="text/javascript" src="/js/jquery-1.11.3.min.js"></script>
	<script type="text/javascript" src="/js/jquery-ui-1.11.4.min.js"></script>
	<script type="text/javascript" src="/js/jquery.canvasjs-1.7.0.min.js"></script>
    <script type="text/javascript" src="/js/view_cdf.js"></script>
  </head>

  <body>

    <h1>Common Data Format - <span id="cdf_name"></span></h1>
    <h2>CDF Version: <span id="cdf_version"></span></h2>
    
	<p>Schema is <span id="cdf_address"><a href="#">here</a>.</span></p>
	
	<div id="accordion">
		<h3>Document Validation against CDF Schema</h3>
		<div class="form-content" id="validate">
			<form id="validate-cdf" class="form-basic" method="post" action="validate" enctype="multipart/form-data">
				<div class="form-title-row">
					<h1>Validate CDF</h1>
				</div>
				<div class="form-row">
					<label>
						<span>File</span>
						<input type="file" name="attached_file"/>
					</label>
				</div>
				<div class="form-row">
					<label>
						<span>Schema File</span>
						<input type="text" id="cdf_link" name="cdf_uri" readonly/>
					</label>
				</div>
				<div class="form-row">
					<button type="submit">Validate</button>
				</div>
			</form>
		</div>
		<h3>Recent Runtime Statistics Chart for the CDF Interface</h3>
		<div id="runstats" style="width: 94%;">
		</div>
	</div>
	
    <p>The CDF fields are described below.</p>
    
    <table style="width:100%">
        <tr>
            <th>Name</th>
            <th>XPATH</th> 
            <th>Type</th>
            <th>Required?</th>
            <th>Description</th>
            <th>Sample Value</th>
        </tr>
        <tr>
            <td></td>
            <td></td> 
            <td></td>
            <td></td>
            <td></td> 
            <td></td>
        </tr>
    </table>
	
	<p>Go <a href="/">Home</a></p>

  </body>

</html>